* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 62.5%;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    /* display: block; */
    max-width: 100%;
}

button {
    cursor: pointer;
}