/* Desktops baixa resolução */
@media screen and (max-width: 1280px) {
    .s-hero .text {
        max-width: 49%;
    }
    .s-card-featured .cards {
        justify-content: center;
        gap: 2.7rem;
    }
    .s-card-featured .cards .card {
        width: 31%;
    }

    .s-card-featured .second-area .images {
        gap: 2rem 2%; /* Primeiro valor é o gap no top+bottom e o segundo é o gap em left e right */
    }
    .s-card-featured .second-area .images .img {
        width: 23.5%; /* Para ficar com 4 imgs somando com os 2% do gap dá o total de 100% na width */
    }
}

/* Laptops baixa resolução */
@media screen and (max-width: 1024px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    .s-hero .image {
        max-width: 46%;
        height: 40rem;
    }

    .s-card-featured .cards .card {
        padding: 6rem 2%;
    }
}

/* Tablets */
@media screen and (max-width: 767px) {
    .s-hero .container {
        flex-direction: column;
    }

    .s-hero .text {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        margin-bottom: 4rem;
    }

    .s-hero .image {
        /* volta nas configurações iniciais do styles.css */
        max-width: 48.8rem;
        height: 49.6rem;
    }

    .s-card-featured .cards {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .s-card-featured .cards .card {
        min-width: 29.4rem;
        max-width: 38.4rem;
        padding: 6rem 5%;
    }
}

/* Tablets baixa resolução */
@media screen and (max-width: 600px) {
    .s-card-featured .cards .card {
        width: 100%;
        max-width: 38.4rem;
        min-height: 38.2rem;
        padding: 6.4rem 4.8rem;
    }    

    .s-card-featured .second-area .top {
        flex-direction: column;

        text-align: center;    
    }
    .s-card-featured .second-area .top .btn-primary {
        margin-top: 2rem;
    }
 
    .s-card-featured .second-area .images {
        gap: 2rem 3%; 
    }
    .s-card-featured .second-area .images .img {
        width: 48.5%;
    }
}

/* Mobile geral */
@media screen and (max-width: 480px) {
    html {
        font-size: 55%;
    }
    h1 {
        font-size: 4.2rem;
    }
  
    header .logo {
        max-width: 130px;
    }

    .s-hero {
        padding: calc(8.8rem + 40px) 0 40px; /* padding padrao p/ mobile (o calc está somando com height do header) */
        /* height: 100%; */
        min-height: 100vh;
    }

    .s-hero .text {
        margin-bottom: 30px;
    }
    .s-hero .text h1 {
        margin-bottom: 20px;
    }
    .s-hero .text p {
        margin-bottom: 30px;
    }

    .s-hero .image {
        height: 35rem;
    }
    .s-hero .image img {
        max-width: 100px;
    }
    

    .s-card-featured {
        padding: 40px 0; /* padding padrao mobile */
    }
    .s-card-featured .main-area {
        padding-bottom: 40px;
    }
    .s-card-featured .cards {
        margin-top: 30px;
    }
    .s-card-featured .cards .card {
        width: 100%;
        max-width: 384px;
        min-height: fit-content;
        padding: 30px;
    }
    .s-card-featured .cards .card .card-text {
        margin-top: 30px;
    }

    .s-card-featured .second-area {
        padding-top: 40px;
    }
    .s-card-featured .second-area .top {
        margin-bottom: 30px;
    }

    .s-card-featured .second-area .images {
        gap: 4vw 4%; 
    }
    .s-card-featured .second-area .images .img {
        width: 48%;
    }

    .s-newsletter {
        padding: 40px 0;
    }
}

/* Excessao de altura/height */
@media screen and (max-height: 667px) {
    .s-hero {
        padding: calc(8.8rem + 30px) 0 30px;
    }

    .s-hero .text {
        margin-bottom: 25px;
    }
    .s-hero .text h1 {
        margin-bottom: 15px;
    }
    .s-hero .text p {
        margin-bottom: 25px;
    }

    .s-hero .image {
        height: 30rem;
    }
}