/* Desktops baixa resolução */
@media screen and (max-width: 1280px) {
    
}

/* Laptops baixa resolução */
@media screen and (max-width: 1024px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }
}

/* Tablets */
@media screen and (max-width: 767px) {
    
}

/* Tablets baixa resolução */
@media screen and (max-width: 600px) {
    
}

/* Mobile geral */
@media screen and (max-width: 480px) {
    header .logo {
        max-width: 13rem;
    }
}