/* STYLE GLOBAL */
:root {
    --brand-colors-pink: #f67acb;
    --gray-colors-50: #e6ebf2;
    --gray-colors-100: #050110;
    --gray-colors-200: #1C1D1F;
    --gray-colors-300: #393c40;
    --gray-colors-400: #5c6066;
    --gray-colors-800: #f7f8fa;
    --white-colors-text: rgba(255, 255, 255, 0.702);
    --white: #fff;
}

* {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem; /* 16px */
}
/* STYLE GLOBAL */

/* LAYOUT */
/* Header */
header {
    background-color: var(--gray-colors-800);
    width: 100%;
    height: 8.8rem;
    display: flex;

    position: fixed; /* header/navbar fixa */
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    margin-right: 3.2rem;

    display: flex; 
    gap: 3.2rem;
}

header .menu-mobile {
    display: none;
}

/* Section Hero */
.s-hero {
    padding: calc(8.8rem + 7.2rem) 0 7.2rem; /* (o calc está somando com height do header) */
}

.s-hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s-hero .text {
    width: 100%;
    max-width: 63.5rem;
}
.s-hero .text h1 {
    margin-bottom: 2rem;
}
.s-hero .text p {
    max-width: 48.8rem;

    font-size: 1.8rem;
    color: var(--gray-colors-300);
    line-height: 150%;

    margin-bottom: 5.6rem;
}
.s-hero .text .btn-primary {
    max-width: fit-content;
    height: 5.6rem; /* fixei a altura do button */
    padding: 0 4rem; /* padding apenas nas laterais */

    display: flex;
    align-items: center;
}

.s-hero .image {
    width: 100%;
    max-width: 48.8rem;
    height: 49.6rem;
    background-color: var(--gray-colors-800);

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section Cards featured */
.s-card-featured {
    background-color: var(--gray-colors-100);
    padding: 10.4rem 0 12rem;
}

.s-card-featured p {
    color: var(--white-colors-text);
    line-height: 150%;

    margin-top: 0.8rem;
}

/* Main area */
.s-card-featured .main-area {
    border-bottom: 1px #ffffff40 solid;
    padding-bottom: 12.2rem;
    text-align: center;
}

.s-card-featured .cards {
    display: flex;
    justify-content: space-between;

    margin-top: 4.8rem;
}

.s-card-featured .cards .card {
    background-color: var(--gray-colors-200);
    width: 100%;
    max-width: 38.4rem;
    min-height: 38.2rem;
    padding: 6.4rem 4.8rem;
}
.s-card-featured .cards .card.white {
    background-color: var(--white);
}
.s-card-featured .cards .card.white h3{
    color: var(--gray-colors-100);
}
.s-card-featured .cards .card.white p{
    color: var(--gray-colors-300);
}

.s-card-featured .cards .card .card-text {
    margin-top: 4rem;
}


/* Second area */
.s-card-featured .second-area {
    padding-top: 10.4rem;
}

.s-card-featured .second-area .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5.6rem;
}
.second-area .top .btn-primary {
    width: fit-content;
    min-width: 20.8rem;
    height: 5.6rem; /* fixei a altura do button */
    padding: 0 4rem; /* padding apenas nas laterais */

    display: flex;
    justify-content: center;
    align-items: center;
}

.s-card-featured .second-area .images {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
}
.s-card-featured .second-area .images .img {
    background-color: var(--gray-colors-200);
    width: 17.6rem;
    height: 11.2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* LAYOUT */